<div class="container">
    <h1 class="my-4">Clients</h1>

    <button class="btn btn-primary mb-3" onclick="AddClient()">Add Client</button>

    <div class="table-responsive">
        <table id="clients" class="table table-striped table-bordered text-center" style="width:100%"></table>
    </div>

    <div id="ClientsAddPartial"></div>
</div>

<script src="~/js/Clients/Clients.js"></script>