<div class="container">
    <h1 class="my-4">Your Transactions</h1>

    <div class="form-group">
        <h2>Select an Account</h2>
        <select class="form-control" id="transactionSelect">
        </select>
    </div>

    <div class="table-responsive">
        <table id="transactions" class="table table-striped table-bordered text-center" style="width:100%"></table>
    </div>

</div>

<script src="~/js/Transactions/Transactions.js"></script>