<div class="container">
    <h1 class="my-4">Transfers between accounts</h1>

    @using (Html.BeginForm("BeginTransaction", "/Transaction", FormMethod.Post))
    {
        <h2>Origin Account</h2>
           
        <h2>Destination Account</h2>

        <button type="submit" class="btn btn-success">Transfer</button>
    }
    


</div>

<script src="~/js/Transactions/Transactions.js"></script>