<div class="container">
    <h1 class="my-4">Accounts</h1>

    <button class="btn btn-primary mb-3" onclick="AddAccount()">Add an Account</button>

    <div class="table-responsive">
        <table id="accounts" class="table table-striped table-bordered text-center" style="width:100%"></table>
    </div>

    <div id="AccountAddPartial"></div>


</div>

<script src="~/js/Account/Accounts.js"></script>